.table {
  margin-top: 20px;
  overflow-y: scroll;
  height: 400px;
  color: #6a5d5d;
}
.table ul {
  display: flex;
  justify-content: space-between;
}
.table li {
  padding: 0.5rem 1rem;
}
.table ul:nth-of-type(odd) {
  background-color: #f3f2f8;
}
